<div class='absolute bottom-0 left-[50%] w-[105%] -translate-x-[50%] rounded-full border-b-3'></div>
<div class='absolute top-0 left-[50%] w-[105%] -translate-x-[50%] rounded-full border-b-3'></div>

<div class='absolute -bottom-2 left-0 h-[105%] rounded-full border-l-3'></div>
<div class='absolute right-0 -bottom-2 h-[105%] rounded-full border-r-3'></div>
