---
import svgPinkStar from '../assets/pink-star.svg'
import Button from './Button.astro'
---

<section class='px-3 py-20' id='hire'>
  <div
    class='relative mx-auto flex max-w-3xl flex-col gap-4 border-3 bg-white p-10 text-center shadow-[8px_8px_0px_rgba(0,0,0,0.3)]'
  >
    <h1 class='text-3xl'>Ready to capture your story?</h1>
    <p class='mx-auto max-w-lg text-lg'>
      Let's turn your special moments into timeless memories. Book a consultation to discuss your
      photography and videography needs.
    </p>
    <div class='flex flex-wrap justify-center gap-4'>
      <Button text='Book a Session' link='/booking' target='_self' />
      <Button text='Get in Touch' link='mailto:vikshanpixels@gmail.com' target='_self' />
    </div>
    <img src={svgPinkStar.src} alt='svg' width='80' class='absolute -top-10 right-20' />
  </div>
</section>
